@model OrdinationApp.ViewModels.FullPaymentRecordViewModel;


<section>
    <div class="d-flex justify-content-between p-5">
        <div>
            <h3 class="text-primary">Payment Records</h3>
            <h5 class="text-primary">@Model.searchParameter</h5>
        </div>

    </div>
    @if (Model.Payments.Count > 0)
    {
        <table class="table table-striped text-center">
            <thead>
            <th>Rank</th>
            <th>No of Approved (Total= @Model.TotalApproved)</th>
            <th>No of Paid (Total = @Model.TotalPaid)</th>
            <th>Total Paid (Total =@Model.TotalGenerated)</th>
            </thead>
            @foreach (var obj in Model.Payments)
            {
                <tr>
                    <td>@obj.RankTitle</td>
                    <td>@obj.NoOfApproved</td>
                    <td>@obj.NoOfPaid</td>
                    <td>@obj.TotalPaid</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Sorry, No Payment Records Available...</p>
    }

</section>